
<!DOCTYPE html>
<html>
    <head>
        <title>Resume</title>
    </head>
    <body>
        <div class=".right">
            <div class="contact">
                <h3>Contato</h3>
                <p>994241220</p>
                <p>joseluisrjunior@gmail.com</p>
                <p>www.linkedin.com/in/joserodrigs</p>
                <p>www.github.com/runiorr</p>
            </div>
            <div class="skills">
                <h3>Habilidades</h3>
                <p>Python</p>
            </div>
            <div class="support">
                <h3>Apoie o criador</h3>
                <img src=../runiorr_qrcode.png>
            </div>
        </div>
        <div class=".left">
            <div class="information">
                <h1>Jose Rodrigues</h1>
                <h2>Analista de desenvolvimento</h2>
            </div>
            <div class="projects">
                <h2>Projetos</h2>
                <p>Resume builder</p>
                <p>Cria curriculos de forma automatica</p>
            </div>
            <div class="works">
                <h2>Experiência</h2>
                <p>DB - Desenvolvedor full stack</p>
                <p>02/2022 - Atualmente</p>
                <p>Desenvolvo automações</p>
            </div>
            <div class="education">
                <h2>Educação</h2>
                <p>Estácio de Sá - Análise e desenvolvimento de sistemas</p>
                <p>10/2021 - 04/2023</p>
            </div>
        </div>
    </body>
</html>
